In [71]:
import pandas as pd

df = pd.read_csv('data/wines_SPA.csv')

print(df.head())

          winery           wine  year  rating  num_reviews country  \
0  Teso La Monja          Tinto  2013     4.9           58  Espana
1         Artadi  Vina El Pison  2018     4.9           31  Espana
2   Vega Sicilia          Unico  2009     4.8         1793  Espana
3   Vega Sicilia          Unico  1999     4.8         1705  Espana
4   Vega Sicilia          Unico  1996     4.8         1309  Espana

             region   price                  type  body  acidity
0              Toro  995.00              Toro Red   5.0      3.0
1    Vino de Espana  313.50           Tempranillo   4.0      2.0
2  Ribera del Duero  324.95  Ribera Del Duero Red   5.0      3.0
3  Ribera del Duero  692.96  Ribera Del Duero Red   5.0      3.0
4  Ribera del Duero  778.06  Ribera Del Duero Red   5.0      3.0

In [72]:
len(df)

7500

In [73]:
df_sorted = df.sort_values(by=df.columns.tolist())

print(df_sorted[df_sorted.duplicated(keep=False)])

                  winery        wine  year  rating  num_reviews country  \
2042              Artadi  Valdegines  2016     4.2          398  Espana
2067              Artadi  Valdegines  2016     4.2          398  Espana
2092              Artadi  Valdegines  2016     4.2          398  Espana
2117              Artadi  Valdegines  2016     4.2          398  Espana
2142              Artadi  Valdegines  2016     4.2          398  Espana
...                  ...         ...   ...     ...          ...     ...
5124  Vinedos de Paganos  El Puntido  2005     4.2          384  Espana
5524  Vinedos de Paganos  El Puntido  2005     4.2          384  Espana
5574  Vinedos de Paganos  El Puntido  2005     4.2          384  Espana
5874  Vinedos de Paganos  El Puntido  2005     4.2          384  Espana
5999  Vinedos de Paganos  El Puntido  2005     4.2          384  Espana

              region  price         type  body  acidity
2042  Vino de Espana  48.96  Tempranillo   4.0      2.0
2067  Vino de Espana  48.96  Tempranillo   4.0      2.0
2092  Vino de Espana  48.96  Tempranillo   4.0      2.0
2117  Vino de Espana  48.96  Tempranillo   4.0      2.0
2142  Vino de Espana  48.96  Tempranillo   4.0      2.0
...              ...    ...          ...   ...      ...
5124           Rioja  73.00    Rioja Red   NaN      NaN
5524           Rioja  73.00    Rioja Red   NaN      NaN
5574           Rioja  73.00    Rioja Red   NaN      NaN
5874           Rioja  73.00    Rioja Red   NaN      NaN
5999           Rioja  73.00    Rioja Red   NaN      NaN

[5503 rows x 11 columns]

In [74]:
df = df.drop_duplicates()
print(len(df))

2048

In [75]:
df.isnull().sum()

winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

In [76]:
df_missing_body = df[df['body'].isnull()]
print(df_missing_body)

                      winery                                wine  year  \
120            Finca Moncloa                    Tintilla de Rota  2016
147          Rafael Palacios           Sorte O Soro Val do Bibei  2019
156     Gutierrez de la Vega  Recondita Armonia Monastrell Dulce  1987
254      Costers del Siurana                      Dolc de L'Obac  2006
288   Francisco Garcia Perez          Adega do Moucho Treixadura  2017
...                      ...                                 ...   ...
2021             Mustiguillo                     Finca Terrerazo  2017
2022             Matarromera                        Gran Reserva  2011
2023                Sei Solo                            Preludio  2016
2024      Vinedos de Paganos                          El Puntido  2005
6100       Remirez de Ganuza                        Rioja Blanco  2017

      rating  num_reviews country            region      price  \
120      4.7           92  Espana             Cadiz   43.13000
147      4.7           37  Espana        Valdeorras  194.86000
156      4.7           27  Espana          Alicante   81.90000
254      4.6           94  Espana          Priorato  117.23942
288      4.6           53  Espana           Ribeiro   34.50000
...      ...          ...     ...               ...        ...
2021     4.2          390  Espana      El Terrerazo   24.45000
2022     4.2          389  Espana  Ribera del Duero   64.50000
2023     4.2          388  Espana  Ribera del Duero   31.63000
2024     4.2          384  Espana             Rioja   73.00000
6100     4.2          421  Espana             Rioja   29.15000

                      type  body  acidity
120                    NaN   NaN      NaN
147                    NaN   NaN      NaN
156                    NaN   NaN      NaN
254                    NaN   NaN      NaN
288                    NaN   NaN      NaN
...                    ...   ...      ...
2021                   Red   NaN      NaN
2022  Ribera Del Duero Red   NaN      NaN
2023  Ribera Del Duero Red   NaN      NaN
2024             Rioja Red   NaN      NaN
6100           Rioja White   NaN      NaN

[271 rows x 11 columns]

check for year that all values are actually years

In [77]:
print(df['year'].dtype)

object

they are not (object), so I force all non-numerical values to become NaN

In [78]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [79]:
# check again
print(df['year'].dtype)
df.isnull().sum()

float64

winery           0
wine             0
year            72
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

Probably should repeat that for all numerical columns

In [81]:
print(f"Data Type for year: {df['year'].dtype}")
print(f"Data Type for rating: {df['rating'].dtype}")
print(f"Data Type for num_reviews: {df['num_reviews'].dtype}")
print(f"Data Type for price: {df['price'].dtype}")
print(f"Data Type for acidity: {df['acidity'].dtype}")

Data Type for year: float64
Data Type for rating: float64
Data Type for num_reviews: int64
Data Type for price: float64
Data Type for acidity: float64

ok looks good. I can't change year to int64 because of the existing NaNs.

Check the data with reagrds to type, body and acidity
1. is there a relationship between body and acidity missing?
2. what about type and year?

In [57]:
# Boolean mask: both missing
both_missing = df['body'].isna() & df['acidity'].isna()

# Just feature_1 missing
only_f1_missing = df['body'].isna() & df['acidity'].notna()

# Just feature_2 missing
only_f2_missing = df['acidity'].isna() & df['body'].notna()

# Summary
print(f"Both missing: {both_missing.sum()}")
print(f"Only body missing: {only_f1_missing.sum()}")
print(f"Only acidity missing: {only_f2_missing.sum()}")

Both missing: 271
Only body missing: 0
Only acidity missing: 0

In [58]:
# Boolean mask: both missing
both_missing = df['body'].isna() & df['type'].isna()

# Just feature_1 missing
only_f1_missing = df['body'].isna() & df['type'].notna()

# Just feature_2 missing
only_f2_missing = df['type'].isna() & df['body'].notna()

# Summary
print(f"Both missing: {both_missing.sum()}")
print(f"Only body missing: {only_f1_missing.sum()}")
print(f"Only type missing: {only_f2_missing.sum()}")

Both missing: 106
Only body missing: 165
Only type missing: 0

In [82]:
# Boolean mask: both missing
both_missing = df['body'].isna() & df['year'].isna()

# Just feature_1 missing
only_f1_missing = df['body'].isna() & df['year'].notna()

# Just feature_2 missing
only_f2_missing = df['year'].isna() & df['body'].notna()

# Summary
print(f"Both missing: {both_missing.sum()}")
print(f"Only body missing: {only_f1_missing.sum()}")
print(f"Only year missing: {only_f2_missing.sum()}")

Both missing: 9
Only body missing: 262
Only year missing: 63

No overlap with year. Missing years have a different reason.

Now, it could be that there are more duplicates, if the only reason is a missing value.
I check for duplicates across all columns except the ones with missing values year, type, body, acidity)

In [85]:
# all features: 'winery', 'wine', 'year', 'rating', 'num_reviews', 'country', 'region', 'price', 'type', 'body', 'acidity'
df_sorted = df.sort_values(by=df.columns.tolist())
possible_duplicates = df_sorted[df_sorted.duplicated(subset=['winery', 'wine', 'rating', 'num_reviews', 'country', 'region', 'price'], keep=False)]
print(len(possible_duplicates))
print(possible_duplicates)

48
                    winery                                wine    year  \
2042                Artadi                          Valdegines  2016.0
2017                Artadi                          Valdegines  2016.0
2033      Bodegas La Horra                           Corimbo I  2015.0
2008      Bodegas La Horra                           Corimbo I  2015.0
2035              Campillo                  Gran Reserva Rioja  2012.0
2010              Campillo                  Gran Reserva Rioja  2012.0
2027             Clos Pons                              Roc Nu  2011.0
2002             Clos Pons                              Roc Nu  2011.0
2045  Conreria d'Scala Dei                       Les Brugueres  2018.0
2020  Conreria d'Scala Dei                       Les Brugueres  2018.0
2044               Contino                             Reserva  2016.0
2019               Contino                             Reserva  2016.0
2043               Contino                      Rioja Graciano  2011.0
2018               Contino                      Rioja Graciano  2011.0
2026       Enrique Mendoza                          Santa Rosa  2017.0
2001       Enrique Mendoza                          Santa Rosa  2017.0
2029              Imperial                       Rioja Reserva  2004.0
2004              Imperial                       Rioja Reserva  2004.0
2032         La Rioja Alta                Vina Alberdi Crianza  2018.0
2007         La Rioja Alta                Vina Alberdi Crianza  2018.0
2025          La Vicalanda                             Reserva  2015.0
2000          La Vicalanda                             Reserva  2015.0
2030                Losada                     Altos de Losada  2018.0
2005                Losada                     Altos de Losada  2018.0
2037                Lustau           Candela Cream Dulce Sweet     NaN
2012                Lustau           Candela Cream Dulce Sweet     NaN
2031         Mar de Frades  Rias Baixas Albarino Finca Valinas  2015.0
2006         Mar de Frades  Rias Baixas Albarino Finca Valinas  2015.0
2047           Matarromera                        Gran Reserva  2011.0
2022           Matarromera                        Gran Reserva  2011.0
2041                 Matsu                            El Viejo  2019.0
2016                 Matsu                            El Viejo  2019.0
2046           Mustiguillo                     Finca Terrerazo  2017.0
2021           Mustiguillo                     Finca Terrerazo  2017.0
2038    Portal del Priorat               Clos del Portal Somni  2014.0
2013    Portal del Priorat               Clos del Portal Somni  2014.0
2040          Ramon Bilbao                               Mirto  2011.0
2015          Ramon Bilbao                               Mirto  2011.0
1999     Remirez de Ganuza                        Rioja Blanco  2017.0
6100     Remirez de Ganuza                        Rioja Blanco  2017.0
2048              Sei Solo                            Preludio  2016.0
2023              Sei Solo                            Preludio  2016.0
2028      Sierra Cantabria                   Coleccion Privada  2012.0
2003      Sierra Cantabria                   Coleccion Privada  2012.0
2034          Vina Pedrosa                        Gran Reserva  2011.0
2009          Vina Pedrosa                        Gran Reserva  2011.0
2049    Vinedos de Paganos                          El Puntido  2005.0
2024    Vinedos de Paganos                          El Puntido  2005.0

      rating  num_reviews country              region  price  \
2042     4.2          398  Espana      Vino de Espana  48.96
2017     4.2          398  Espana      Vino de Espana  48.96
2033     4.2          412  Espana    Ribera del Duero  37.90
2008     4.2          412  Espana    Ribera del Duero  37.90
2035     4.2          410  Espana               Rioja  22.99
2010     4.2          410  Espana               Rioja  22.99
2027     4.2          420  Espana   Costers del Segre  23.95
2002     4.2          420  Espana   Costers del Segre  23.95
2045     4.2          390  Espana            Priorato  16.76
2020     4.2          390  Espana            Priorato  16.76
2044     4.2          392  Espana               Rioja  19.98
2019     4.2          392  Espana               Rioja  19.98
2043     4.2          395  Espana               Rioja  61.94
2018     4.2          395  Espana               Rioja  61.94
2026     4.2          420  Espana            Alicante  18.90
2001     4.2          420  Espana            Alicante  18.90
2029     4.2          417  Espana               Rioja  45.00
2004     4.2          417  Espana               Rioja  45.00
2032     4.2          410  Espana               Rioja  13.58
2007     4.2          410  Espana               Rioja  13.58
2025     4.2          420  Espana               Rioja  17.50
2000     4.2          420  Espana               Rioja  17.50
2030     4.2          415  Espana              Bierzo  17.90
2005     4.2          415  Espana              Bierzo  17.90
2037     4.2          405  Espana  Jerez-Xeres-Sherry   7.10
2012     4.2          405  Espana  Jerez-Xeres-Sherry   7.10
2031     4.2          414  Espana         Rias Baixas  16.78
2006     4.2          414  Espana         Rias Baixas  16.78
2047     4.2          389  Espana    Ribera del Duero  64.50
2022     4.2          389  Espana    Ribera del Duero  64.50
2041     4.2          400  Espana                Toro  27.89
2016     4.2          400  Espana                Toro  27.89
2046     4.2          390  Espana        El Terrerazo  24.45
2021     4.2          390  Espana        El Terrerazo  24.45
2038     4.2          404  Espana            Priorato  77.36
2013     4.2          404  Espana            Priorato  77.36
2040     4.2          402  Espana               Rioja  28.53
2015     4.2          402  Espana               Rioja  28.53
1999     4.2          421  Espana               Rioja  29.15
6100     4.2          421  Espana               Rioja  29.15
2048     4.2          388  Espana    Ribera del Duero  31.63
2023     4.2          388  Espana    Ribera del Duero  31.63
2028     4.2          420  Espana               Rioja  28.30
2003     4.2          420  Espana               Rioja  28.30
2034     4.2          410  Espana    Ribera del Duero  51.35
2009     4.2          410  Espana    Ribera del Duero  51.35
2049     4.2          384  Espana               Rioja  73.00
2024     4.2          384  Espana               Rioja  73.00

                      type  body  acidity
2042           Tempranillo   4.0      2.0
2017           Tempranillo   NaN      NaN
2033  Ribera Del Duero Red   5.0      3.0
2008  Ribera Del Duero Red   NaN      NaN
2035             Rioja Red   4.0      3.0
2010             Rioja Red   NaN      NaN
2027                   Red   4.0      3.0
2002                   Red   NaN      NaN
2045           Priorat Red   4.0      3.0
2020           Priorat Red   NaN      NaN
2044             Rioja Red   4.0      3.0
2019             Rioja Red   NaN      NaN
2043             Rioja Red   4.0      3.0
2018             Rioja Red   NaN      NaN
2026                   Red   4.0      3.0
2001                   Red   NaN      NaN
2029             Rioja Red   4.0      3.0
2004             Rioja Red   NaN      NaN
2032             Rioja Red   4.0      3.0
2007             Rioja Red   NaN      NaN
2025             Rioja Red   4.0      3.0
2000             Rioja Red   NaN      NaN
2030                Mencia   3.0      3.0
2005                Mencia   NaN      NaN
2037                Sherry   4.0      3.0
2012                Sherry   NaN      NaN
2031              Albarino   3.0      3.0
2006              Albarino   NaN      NaN
2047  Ribera Del Duero Red   5.0      3.0
2022  Ribera Del Duero Red   NaN      NaN
2041              Toro Red   5.0      3.0
2016              Toro Red   NaN      NaN
2046                   Red   4.0      3.0
2021                   Red   NaN      NaN
2038           Priorat Red   4.0      3.0
2013           Priorat Red   NaN      NaN
2040             Rioja Red   4.0      3.0
2015             Rioja Red   NaN      NaN
1999           Rioja White   3.0      3.0
6100           Rioja White   NaN      NaN
2048  Ribera Del Duero Red   5.0      3.0
2023  Ribera Del Duero Red   NaN      NaN
2028             Rioja Red   4.0      3.0
2003             Rioja Red   NaN      NaN
2034  Ribera Del Duero Red   5.0      3.0
2009  Ribera Del Duero Red   NaN      NaN
2049             Rioja Red   4.0      3.0
2024             Rioja Red   NaN      NaN

We know now that there are 3 sets of data:
- all data exist (majority)
- body and acidity missing (624)
- body, acidity and type missing (545)

In [22]:


# Check the number of categories for categorical data
print(f"Number of unique wineries: {df['winery'].nunique()}")
print(f"Number of unique wines: {df['wine'].nunique()}")
print(f"Number of unique years: {df['year'].nunique()}")
print(f"Number of unique countries: {df['country'].nunique()}")
print(f"Number of unique regions: {df['region'].nunique()}")
print(f"Number of unique types: {df['type'].nunique()}")

Number of unique wineries: 480
Number of unique wines: 847
Number of unique years: 71
Number of unique countries: 1
Number of unique regions: 76
Number of unique types: 21

I can drop the country feature, because all wines are from Spain, so there no information in this.

In [23]:
df = df.drop('country', axis=1)

I want to check if wineries is a subcategory of region

In [27]:
regions_per_winery = df.groupby('winery')['region'].nunique()
print(f"There are {len(regions_per_winery[regions_per_winery > 1])} wineries with more than one region")
print(regions_per_winery[regions_per_winery > 1])
df[df['winery'] == 'Romate']

There are 52 wineries with more than one region
winery
Abadia Retuerta                              2
Altanza                                      3
Alvaro Domecq                                2
Alvaro Palacios                              2
Artadi                                       2
Atlan & Artisan                              2
Bodega Campo Eliseo                          2
Bodega Otazu                                 2
Bodegas 6o Elemento - Vino Sexto Elemento    2
Bodegas Amaren                               2
Bodegas Aragonesas                           2
Bodegas Frontonio                            2
Bodegas Mauro                                2
Bodegas San Roman                            2
Bodegas Tradicion                            5
Bodegas Valduero                             2
Bodegas Ximenez-Spinola                      2
Bosque de Matasnos                           2
Carlos Moro                                  2
Casa Rojo                                    2
Clos Mogador                                 2
De Muller                                    2
El Maestro Sierra                            2
Emilio Moro                                  2
Equipo Navazos                               2
Familia Torres                               5
Finca Rio Negro                              2
Finca Torremilanos                           2
Gonzalez-Byass                               3
Gramona                                      3
Harveys                                      2
Javier Sanz Viticultor                       2
Jimenez-Landi                                2
Juan Pinero                                  2
Marques de Riscal                            2
Martin Codax                                 2
Miguel Merino                                2
Nin-Ortiz                                    2
Ordonez                                      2
Osborne                                      2
Pago de Los Capellanes                       2
Penafiel                                     2
R. Lopez de Heredia                          2
Raul Perez                                   3
Recaredo                                     2
Romate                                       4
Sebio                                        2
Telmo Rodriguez                              3
Tomas Postigo                                2
Valdespino                                   3
Volver                                       2
Williams & Humbert                           3
Name: region, dtype: int64

,winery,wine,year,rating,num_reviews,region,price,type,body,acidity
547,Romate,Cayetano del Pino Viejisimo Palo Cortado,N.V.,4.5,61,Jerez Palo Cortado,25.92,Sherry,4.0,3.0
964,Romate,Old & Plus Pedro Ximenez,N.V.,4.4,64,Jerez Pedro Ximenes (PX),42.12,Sherry,4.0,3.0
1091,Romate,Old & Plus Amontillado,N.V.,4.4,28,Jerez Amontillado,15.84,Sherry,4.0,3.0
1792,Romate,Old & Plus Oloroso,N.V.,4.3,28,Jerez Oloroso,45.00,Sherry,4.0,3.0

Realising that the year can also be "n.v." which probably means not available. how many?

In [28]:
len(df[df['year'] == 'N.V.'])

288

In [30]:
years = df.groupby('year').nunique()
print(years)

      winery  wine  rating  num_reviews  region  price  type  body  acidity
year
1910       1     1       1            1       1      1     1     1        1
1922       1     1       1            1       1      1     1     1        1
1925       1     1       1            1       1      1     1     1        1
1928       1     1       1            1       1      1     1     1        1
1929       1     1       1            1       1      1     1     1        1
...      ...   ...     ...          ...     ...    ...   ...   ...      ...
2018     145   177       8          138      41    172    16     3        3
2019      86   104       7           89      35    105    18     4        3
2020      34    35       6           29      17     33     9     3        1
2021       6     6       3            6       2      5     3     1        1
N.V.      38    69       7           60      13     65     3     2        2

[71 rows x 9 columns]

In [34]:
df_sorted = df.sort_values(by=df.columns.tolist())

print(df_sorted[df_sorted.duplicated(keep=False)])

                  winery        wine  year  rating  num_reviews  \
2042              Artadi  Valdegines  2016     4.2          398
2067              Artadi  Valdegines  2016     4.2          398
2092              Artadi  Valdegines  2016     4.2          398
2117              Artadi  Valdegines  2016     4.2          398
2142              Artadi  Valdegines  2016     4.2          398
...                  ...         ...   ...     ...          ...
5124  Vinedos de Paganos  El Puntido  2005     4.2          384
5524  Vinedos de Paganos  El Puntido  2005     4.2          384
5574  Vinedos de Paganos  El Puntido  2005     4.2          384
5874  Vinedos de Paganos  El Puntido  2005     4.2          384
5999  Vinedos de Paganos  El Puntido  2005     4.2          384

              region  price         type  body  acidity
2042  Vino de Espana  48.96  Tempranillo   4.0      2.0
2067  Vino de Espana  48.96  Tempranillo   4.0      2.0
2092  Vino de Espana  48.96  Tempranillo   4.0      2.0
2117  Vino de Espana  48.96  Tempranillo   4.0      2.0
2142  Vino de Espana  48.96  Tempranillo   4.0      2.0
...              ...    ...          ...   ...      ...
5124           Rioja  73.00    Rioja Red   NaN      NaN
5524           Rioja  73.00    Rioja Red   NaN      NaN
5574           Rioja  73.00    Rioja Red   NaN      NaN
5874           Rioja  73.00    Rioja Red   NaN      NaN
5999           Rioja  73.00    Rioja Red   NaN      NaN

[5503 rows x 10 columns]